@model IEnumerable<Producer>

@{
    ViewBag.Title = "Producers";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8 offsetg-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var producer in Model) 
                {
                    <tr>
                        <td class="allign-middle">
                            <img class="rounded-circle" src="@producer.ProfilePictureURL" alt="@producer.FullName" style="max-width: 150px" />
                        </td>
                        <td class="allign-middle">
                            @Html.DisplayFor(modelItem => producer.FullName)
                        </td>
                        <td class="allign-middle">
                            @Html.DisplayFor(modelItem => producer.Bio)
                        </td>
                        <td class="allign-middle">
                            <a class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a> | 
                            <a class="btn btn-info"><i class="bi bi-eye"></i>Details</a> | 
                            <a class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
